
  <h1>New task </h1>
  <%= form_for(@task) do |f| %>
  <p> Title </p>
  <%= f.text_field :title  %>
  <p> Details </p>
  <%= f.text_field :details %>
  <br>
  <br>
  <%= f.submit %>
  <% end %>
  <p> <%= link_to "Back to list", tasks_path %> </p>

